.package-div {
    margin-top: 20px;
}
body {
    margin: 20px;
}

.header {
    font-weight: bold;
}
.tag-group {
    margin-top: -15px;
    margin-bottom: 15px;
}

.subheader {
    margin-bottom: -2px;
    text-decoration: underline;
}

.destinations {
    margin-bottom: -20px;
    padding-top: 10px;
    background-color: rgb(248, 248, 248);
}
.yessir {
    text-align: center;
}
.icons {
    margin-bottom: 10px;
}

.primaryButton {
    display: none;
}

.secondaryButton {
    display: none;
}

.stepDes {
    background-color: #6610f2;
}
.score {
    text-align: center;
    color:#6610f2;
}

.description {
    margin-top: -10px;
}

.purpleSpan {
    color: #6610f2;
}

.overview {
    text-align: center;
}

.groupMe {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}